/* Styling for Page Message messages */
div.page-message {
  font-size: larger;
  border: thin solid red;
  background-color: #eee;
  padding: 10px;
}
a.page-message-edit {
  font-size: smaller;
  padding: 0.5em;
  float: right;
}
